body {
    width: 760px;
    margin: 0 auto;
    background-color: rgb(0, 51, 102);
    line-height: 1.2;
}



h2 {
    font-size: 2em;
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(255,255,255);
    font-weight: normal;
    border-bottom: dotted 2px rgba(255,255,255,.5);
    padding-bottom: 4px;
    margin: 25px 0;
}

.center {
    text-align: center;
}

.comment {
    font-weight: normal;
    padding-bottom: 4px;
    margin: 25px 0;
}

.blogForm {
    font-size: 1.2em;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
}

.blogForm .label {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    text-align: right;
    margin-right: 10px;
    padding-top: 5px;
    font-weight: bold;
    color: rgba(255,255,255,.5);
}

.blogForm input[type="text"],
.blogForm input[type="password"],
.blogForm textarea {
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background-color: rgba(255,255,255,.5);
    box-shadow: inset 0 0 10px rgba(255,255,255,.75);
    width: 500px;
    padding: 5px;
    transition: background-color 300ms linear;
}

.blogForm input[type="submit"],
input[type="button"] {
    margin-left: 170px;
    padding: 10px 25px;
    font-size: 1em;
    color: white;
    background: rgb(0,102,153);
    background: -webkit-linear-gradient(rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
    background: -moz-linear-gradient(rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
    background: -o-linear-gradient(rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
    background: linear-gradient(rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px white;
}

.buttonLink {
    margin-left: 45px;
    padding: 10px 25px;
    font-size: 1em;
    color: white;
    background: rgb(0,102,153);
    background: -webkit-linear-gradient(rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
    background: -moz-linear-gradient(rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
    background: -o-linear-gradient(rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
    background: linear-gradient(rgba(255,255,255,.1) 40%, rgba(255,255,255,.5));
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px white;
    text-decoration: none;
}

input[type="button"] {
    margin-left: 45px;
}

.blogForm input[type="text"]:focus,
.blogForm input[type="password"]:focus,  
.blogForm textarea:focus {
  background-color: white;
  color: black;
}

.blogForm .narrative {
    font-family: "Palatino Linotype", Baskerville, serif;
    font-size: 0.75em;
    line-height: 150%;
    margin-bottom: 10px;
    padding-bottom: 15px;
    margin-left: 10px;
    color: white;
    border-bottom: dotted 2px rgba(255,255,255,.5);
}