.post-list li {
    list-style-type: none;
}

.post-list li a {
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    transition: color 700ms ease;
}

.post-list li a:hover {
    color: yellow;
    cursor: pointer;
}